.header{
  	display: flex;
  	align-items: center;
 	padding: 0.5em;
 	border-bottom: solid 1px #c9c9c9;
 	justify-content: center;
}

.name {
	font-size: 20;
	width: 100%;
  	text-align: center;
  	padding-right: 5px;
  	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;

}

.icon_container {
	display: flex;
  	margin: 0px 5px;
}

.icon {
  	padding-right: 5px;
}

.person_notes {
	width: 80%;
	font-size: 12;
	text-align: center;
	background: #F5F5F5;
	display: inline-block;
	padding: 5px;
	border-radius: 10px;
	margin-top: 8px;
}

.title {
	width: 100%;
	font-size: 18;
	text-align: center;
	padding-top: 8px;
}

.namediv {

	width: 100%;
}

.flexbox {
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.blank {

	width: 30px;
}

.pico {
	max-width: 150px;
	padding-top: 8px;
}

.trials {
	text-align: center;
	padding-top: 8px;
	font-size: 20;
}

.trial_icon {
	max-width: 30px;
	padding: 3px 3px 0px 3px;
}
